.form-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .form-input textarea {
    /* transition: 0.3s all ease;
    background-color: transparent;
    color: #111;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #cccccc;
    padding: 10px; */
    border-radius: 10px;
    padding: 10px;
    resize: none;
    word-wrap: break-word;
  }
  
  .form-input textarea:focus-visible {
    transition: 0.3s all ease;
    outline: none;
    border: 1px solid rgb(47, 77, 131);
  }
  
  
  .error-message {
    display: none;
    line-height: initial;
    color: red;
    font-weight: 500;
    font-size: 14px;
  }
  
  textarea:invalid[focused="true"] ~ span {
    display: flex;
  }
  
  textarea:invalid[focused="true"] {
    border: 1px solid #ff0000;
  }