.clean-list{
    border: none;
    border-top: .2rem solid var(--bg-blue);
    padding-block: 1rem;
}

.clean-list li{
    list-style: none;
    line-height: 2.5rem;
}

.clean-list li::before{
    content: '\2713';
    margin-right: 1rem;
    background-color: var(--bg-blue);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding: .3rem;
    color: white;
    font-weight: 900;
    
}

.cleaning-option-container > div{
    flex: 1;
    border: none;
    box-shadow: 0 0 .5rem white;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    background-color: var(--bg-color-pages);
    margin-block: 5rem;
}

/* .cleaning-option-container{
    background-color: var(--bg-blue);
} */

@media screen and (min-width:870px){   

    /* .cleaning-option-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 0 auto;
        gap: 20rem;
        max-width: 60rem;
        margin-block: 3rem;
        
        
    } */

    /* .cleaning-option-container > div:nth-child(2){
        background-color: aqua;
        position: absolute;
        top: 142.4rem;
        border: .3rem solid var(--bg-blue);
        height: 74rem;
        left: 32rem;        
    } */

    .cleaning-option-container > div:nth-child(1){
        width: fit-content;
    }
    .cleaning-option-container > div:nth-child(2){
        margin: 0 auto;
        width: fit-content;
        padding-top: 1rem;
        padding-bottom: 42rem;
    }
    .cleaning-option-container > div:nth-child(3){
        float: right;
        width: fit-content;
        padding-bottom: 53.7rem;
    }

    .cleaning-option-container{
        display: flex;
        align-items: center;
        gap:1rem;
        max-width: 60rem;
        margin: 0 auto;
        margin-block: 4rem;

    }

    
 }