 .radio-container{
  width: 100%; 
  height: auto;
  margin-bottom: 1rem;
}
/* 
.radio{
  display: block;
  float: left;
  width: 100%;
  height: 3rem;
  position: relative;
  text-align: center;
}


.radio label,
input[type='radio'] {
  display: block;
  position: absolute;
  right: 50%;
  top:50%;
  bottom:50%;
  transform: translate(50%, -50%);
}

.radio input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
  
}

.radio input[type="radio"]:checked + label {
  background: #20b8be;
  border-radius: .7rem;
}

.radio label, .radio input[type="radio"]{
  width: 100%;
}

.radio label {
  cursor: pointer;
  width: 100%;
  z-index: 90;
  line-height: 3rem;
  height: 3rem;
  font-weight: bold;
  border: 1px solid darkgray;
  border-radius: .7rem;
} 

  
  input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    background: #FF572233;
    border: 3px solid #FFF;
    box-shadow: 0 0 0 1px #FF5722;
  } */

  

  input[type="radio"] {
    appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: .1rem solid var(--bg-blue);
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    top: 4px;
    
  }

  input[type="radio"]:checked {
    border: 6px solid black;
  }